In [404]:
import pandas as pd
from sklearn import preprocessing
import joblib 
from sqlalchemy import create_engine

#### Read Dataset

In [405]:
data = pd.read_csv('data_case_study.csv',parse_dates=True)
#data = pd.read_csv('data_case_study.csv')
data.dtypes

Unnamed: 0                         int64
timestamp                          int64
engine_speed                     float64
hydraulic_drive_off              float64
drill_boom_in_anchor_position    float64
pvalve_drill_forward             float64
hydraulic_pump                   float64
bolt                             float64
boom_lift                        float64
boom_lower                       float64
boom_forward                     float64
boom_backward                    float64
drill_boom_turn_left             float64
drill_boom_turn_right            float64
drill_boom_turn_forward          float64
drill_boom_turn_backward         float64
beam_right                       float64
beam_left                        float64
anchor                           float64
activity                          object
dtype: object

In [406]:
data.head(10)

,Unnamed: 0,timestamp,engine_speed,hydraulic_drive_off,drill_boom_in_anchor_position,pvalve_drill_forward,hydraulic_pump,bolt,boom_lift,boom_lower,boom_forward,boom_backward,drill_boom_turn_left,drill_boom_turn_right,drill_boom_turn_forward,drill_boom_turn_backward,beam_right,beam_left,anchor,activity
0,0,1534192356,74.898806,0.0,0.479059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Idle
1,1,1534192357,75.139756,0.0,0.479059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Idle
2,2,1534192358,74.647495,0.0,0.479059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Idle
3,3,1534192359,106.015541,0.0,0.479059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traveling
4,4,1534192360,95.702048,0.0,0.479059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traveling
5,5,1534192361,77.171525,0.0,0.479059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traveling
6,6,1534192362,84.900022,0.0,0.479059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traveling
7,7,1534192363,104.028951,0.0,0.479059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traveling
8,8,1534192364,111.430257,0.0,0.479059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traveling
9,9,1534192365,92.677026,0.0,0.479059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Traveling

In [407]:
data = data.fillna(0)

In [408]:
data['boom_long'] = data[['boom_lift', 'boom_lower']].mean(axis=1)

In [409]:
data.head(10)

,Unnamed: 0,timestamp,engine_speed,hydraulic_drive_off,drill_boom_in_anchor_position,pvalve_drill_forward,hydraulic_pump,bolt,boom_lift,boom_lower,...,boom_backward,drill_boom_turn_left,drill_boom_turn_right,drill_boom_turn_forward,drill_boom_turn_backward,beam_right,beam_left,anchor,activity,boom_long
0,0,1534192356,74.898806,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Idle,0.0
1,1,1534192357,75.139756,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Idle,0.0
2,2,1534192358,74.647495,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Idle,0.0
3,3,1534192359,106.015541,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Traveling,0.0
4,4,1534192360,95.702048,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Traveling,0.0
5,5,1534192361,77.171525,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Traveling,0.0
6,6,1534192362,84.900022,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Traveling,0.0
7,7,1534192363,104.028951,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Traveling,0.0
8,8,1534192364,111.430257,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Traveling,0.0
9,9,1534192365,92.677026,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Traveling,0.0

In [410]:
data['boom_lati'] = data[['boom_forward', 'boom_backward']].mean(axis=1)

In [411]:
data['drill_boom_long'] = data[['drill_boom_turn_left', 'drill_boom_turn_right']].mean(axis=1)

In [412]:
data['drill_boom_lati'] = data[['drill_boom_turn_forward', 'drill_boom_turn_backward']].mean(axis=1)

In [413]:
data['beam'] = data[['beam_left', 'beam_right']].mean(axis=1)

In [414]:
data.head(10)

,Unnamed: 0,timestamp,engine_speed,hydraulic_drive_off,drill_boom_in_anchor_position,pvalve_drill_forward,hydraulic_pump,bolt,boom_lift,boom_lower,...,drill_boom_turn_backward,beam_right,beam_left,anchor,activity,boom_long,boom_lati,drill_boom_long,drill_boom_lati,beam
0,0,1534192356,74.898806,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,Idle,0.0,0.0,0.0,0.0,0.0
1,1,1534192357,75.139756,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,Idle,0.0,0.0,0.0,0.0,0.0
2,2,1534192358,74.647495,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,Idle,0.0,0.0,0.0,0.0,0.0
3,3,1534192359,106.015541,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,Traveling,0.0,0.0,0.0,0.0,0.0
4,4,1534192360,95.702048,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,Traveling,0.0,0.0,0.0,0.0,0.0
5,5,1534192361,77.171525,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,Traveling,0.0,0.0,0.0,0.0,0.0
6,6,1534192362,84.900022,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,Traveling,0.0,0.0,0.0,0.0,0.0
7,7,1534192363,104.028951,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,Traveling,0.0,0.0,0.0,0.0,0.0
8,8,1534192364,111.430257,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,Traveling,0.0,0.0,0.0,0.0,0.0
9,9,1534192365,92.677026,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,Traveling,0.0,0.0,0.0,0.0,0.0

In [415]:
data_new = data[['engine_speed', 'hydraulic_drive_off','drill_boom_in_anchor_position','pvalve_drill_forward', 'bolt', 'boom_long', 'boom_lati', 'drill_boom_long', 'drill_boom_lati', 'beam']]

In [416]:
data_new.head(20)

,engine_speed,hydraulic_drive_off,drill_boom_in_anchor_position,pvalve_drill_forward,bolt,boom_long,boom_lati,drill_boom_long,drill_boom_lati,beam
0,74.898806,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,75.139756,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,74.647495,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,106.015541,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,95.702048,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,77.171525,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,84.900022,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,104.028951,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,111.430257,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,92.677026,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,133.031372,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,129.854070,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,121.038514,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,137.940307,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,147.569431,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,74.823971,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,143.585302,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,144.758631,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,143.039391,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,123.766659,0.0,0.479059,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [417]:
data_new.mean()

engine_speed                      34.089421
hydraulic_drive_off                0.033535
drill_boom_in_anchor_position      0.202425
pvalve_drill_forward             436.282657
bolt                               0.152337
boom_long                          0.008629
boom_lati                          0.404745
drill_boom_long                    0.019965
drill_boom_lati                    0.006280
beam                               0.004941
dtype: float64

In [418]:
#normalized_df=(data_new-data_new.min())/(data_new.max()-data_new.min())
normalized_data=(data_new-data_new.mean())/data_new.std()

In [419]:
normalized_data.std()

engine_speed                     1.0
hydraulic_drive_off              1.0
drill_boom_in_anchor_position    1.0
pvalve_drill_forward             1.0
bolt                             1.0
boom_long                        1.0
boom_lati                        1.0
drill_boom_long                  1.0
drill_boom_lati                  1.0
beam                             1.0
dtype: float64

In [420]:
loaded_model = joblib.load('model.pkl')

In [421]:
predicted_activity = loaded_model.predict(normalized_data)

In [422]:
type(predicted_activity)

numpy.ndarray

In [423]:
print(predicted_activity)

['Idle' 'Idle' 'Idle' ... 'Idle' 'Idle' 'Idle']

In [424]:
import numpy as np
np.unique(predicted_data)

array(['Anchoring', 'Drilling', 'Hole Setup', 'Idle', 'Machine Off',
       'Transitional Delay', 'Traveling'], dtype=object)

In [425]:
speed_data = data[['timestamp','engine_speed']]

In [426]:
speed_data['engine_speed'].head(300).mean().round(decimals=5)

53.16806

In [427]:
#speed_data['timestamp'] = pd.to_datetime(speed_data['timestamp'], unit="s")

In [428]:
speed_data['average_speed'] = speed_data['engine_speed'].rolling(300,center=False).mean()
#speed_data.rolling(2).mean()
#speed_data[average] = speed_data.groupby(speed_data.index // 300).mean()

In [429]:
speed_data = speed_data.iloc[::300, :]

In [430]:
speed_data['average_speed']=speed_data['average_speed'].round(decimals=5)

In [431]:
speed_data=speed_data.fillna(53.16806)
speed_data.head(1000)

         timestamp  engine_speed  average_speed
0       1534192356     74.898806       53.16806
300     1534192659      0.000000       52.91839
600     1534192959      0.000000        0.00000
900     1534193259      0.000000        0.00000
1200    1534193559      0.000000        0.00000
...            ...           ...            ...
148500  1534528875      0.000000        0.00000
148800  1534529175      0.000000        0.00000
149100  1534622950      0.000000        3.69645
149400  1534623250      0.000000        0.00000
149700  1534623550      0.000000        0.00000

[500 rows x 3 columns]

In [432]:
average_speed_data = speed_data[['timestamp','average_speed']]

In [433]:
average_speed_data = average_speed_data.set_index('timestamp')

In [434]:
average_speed_data.head(5)

            average_speed
timestamp
1534192356       53.16806
1534192659       52.91839
1534192959        0.00000
1534193259        0.00000
1534193559        0.00000

In [435]:
engine = create_engine('sqlite:///mydb.db', echo=False)
sqlite_connection = engine.connect()

In [436]:
average_speed_data.to_sql('SPEED', con=engine, if_exists='replace')

In [437]:
len(predicted_activity)

149795

In [438]:
len(data)

149795

In [439]:
predicted_activity_df = pd.DataFrame(data=predicted_activity,columns=['predicted_activity'])

In [440]:
predicted_activity_df

       predicted_activity
0                    Idle
1                    Idle
2                    Idle
3               Traveling
4               Traveling
...                   ...
149790               Idle
149791               Idle
149792               Idle
149793               Idle
149794               Idle

[149795 rows x 1 columns]

In [441]:
data_timestamp = data[['timestamp']]
predicted_df = data_timestamp.join(predicted_activity_df)

In [442]:
predicted_df.head(20)

     timestamp predicted_activity
0   1534192356               Idle
1   1534192357               Idle
2   1534192358               Idle
3   1534192359          Traveling
4   1534192360          Traveling
5   1534192361               Idle
6   1534192362          Traveling
7   1534192363          Traveling
8   1534192364          Traveling
9   1534192365          Traveling
10  1534192366          Traveling
11  1534192367          Traveling
12  1534192368          Traveling
13  1534192369          Traveling
14  1534192370          Traveling
15  1534192371               Idle
16  1534192372          Traveling
17  1534192373          Traveling
18  1534192374          Traveling
19  1534192375          Traveling

In [447]:
cols = ['start_time','end_time', 'activity_type', 'duration']
lst = []

In [448]:
initial_activity = predicted_df['predicted_activity'][0]
start_timestamp = predicted_df['timestamp'][0]
duration=0
for index, row in predicted_df.iterrows():
    if row['predicted_activity']!=initial_activity:
        end_timestamp=row['timestamp']
        duration=end_timestamp-start_timestamp
        lst.append([start_timestamp,end_timestamp,initial_activity,duration])
        #lst.append([end_timestamp,initial_activity,duration])
        #print(start_timestamp,initial_activity,duration)
        #print(end_timestamp,initial_activity,duration)
        start_timestamp=end_timestamp
    initial_activity=row['predicted_activity']
df1 = pd.DataFrame(lst, columns=cols)

In [449]:
df1

      start_time    end_time activity_type  duration
0     1534192356  1534192359          Idle         3
1     1534192359  1534192361     Traveling         2
2     1534192361  1534192362          Idle         1
3     1534192362  1534192371     Traveling         9
4     1534192371  1534192372          Idle         1
...          ...         ...           ...       ...
6562  1534623575  1534623576     Traveling         1
6563  1534623576  1534623579          Idle         3
6564  1534623579  1534623601     Traveling        22
6565  1534623601  1534623602          Idle         1
6566  1534623602  1534623636     Traveling        34

[6567 rows x 4 columns]

In [450]:
df1.to_sql('ACTIVITY', con=engine, if_exists='replace')